.prediction span.prediction-number {
    font-size: 18pt;
    margin: 10px 5px 0 15px;
}

.breadcrumb {
    font-size: 15pt;
    color: black;
    text-align: left;
    background: none;
}

.breadcrumb .pointer {
    cursor: pointer;
}

.breadcrumb .pointer:hover {
    text-decoration: underline;
}

#map-container {
    width: 100%;
    min-height: 1000px;
    display: flex;
}

#map-live {
    position:relative;
    flex: 100% 1 0;
}

#detail-area {
    position:relative;
    flex: 0% 1 0;
    overflow: auto;
}

.foreground,
.background {
    position:absolute;
    top: 0;
    left: 0;
}

.poly-neighborhood {
    fill: transparent;
}

.poly-district.fill {
    fill: #606060;
}

.poly-district.nofill {
    fill:none;
}

.poly-district.border {
    stroke: #000;
    stroke-width:3;
}

.poly-district.transparent {
    fill: transparent;
    stroke: none;
}

.poly-district.transparent:hover {
    stroke:#f00;
    stroke-width:3;
}

#point-victim {
    position:absolute;
    left:0;
    top:0;
}

.detail-table {
    width: 100%;
    text-align: left;
}
