.streamgraph-location,
.streamgraph-location-city {
    border-top: 1px solid rgb(175,175,175);
    display: flex;
    height: 250px;
}

.streamgraph-location:last-child {
    border-bottom: 1px solid rgb(175,175,175);
}

.streamgraph-label {
    flex: 120px 0 0;
    display: flex;
    align-items:center;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.streamgraph-label span {
    flex:100% 0 0;
    text-align:center;
}

.streamgraph-plot {
    flex: 100% 1 1;
}

path.layer-crime {
    opacity:0.9;
}

path.layer-crime:hover {
    opacity:1;
}

path.layer-crime.arson {
    fill:#1f77b4;
}

path.layer-crime.common-assault {
    fill:#aec7e8;
}

path.layer-crime.aggravated-assault {
    fill:#ff7f0e;
}

path.layer-crime.assault-by-threat {
    fill:#ffbb78;
}

path.layer-crime.burglary {
    fill:#2ca02c;
}

path.layer-crime.auto-theft {
    fill:#98df8a;
}

path.layer-crime.larceny-from-auto {
    fill:#d62728;
}

path.layer-crime.larceny {
    fill:#ff9896;
}

path.layer-crime.robbery-carjacking {
    fill:#9467bd;
}

path.layer-crime.robbery-commercial {
    fill:#c5b0d5;
}

path.layer-crime.robbery-residence {
    fill:#8c564b;
}

path.layer-crime.robbery-street {
    fill:#c49c94;
}

path.layer-crime.rape {
    fill:#e377c2;
}

path.layer-crime.shooting {
    fill:#f7b6d2;
}

path.layer-crime.homicide {
    fill:#7f7f7f;
}

path.layer-crime.violent {
    fill:#ff9896;
}

path.layer-crime.nonviolent {
    fill:#2ca02c;
}

#streamgraph-container {
    margin: 0 0 30px;
}

#streamgraph-container .axis path,
#streamgraph-container .axis line {
    fill:none;
    stroke:#000;
}
